/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  5. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
/*
  6. Remove built-in form typography styles
*/
input, button, textarea, select {
  font: inherit;
}
/*
  7. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
/*
  8. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

* {
    scroll-behavior: smooth;
    padding: 0;
    font-family: PlayFair Display;
}

header{
    position:sticky;
    z-index: 100;
}
.navBar{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    background-color: #fff;
    position: fixed;
    width: 100%;
    z-index: 100;
}
.navBar img{
    width: 65px;
}
.navLogo:hover {
    cursor: pointer;   
}
.menu {
    display: flex;
    gap: 1rem;
}
.navMenu {
    cursor: pointer;
    color: black;
    transition: 0.5s;
    padding-left: 10px;
    padding-right: 10px;
}
.navMenu:hover {
    color: #BB7E5D;
}
.navMainElem {
    color: #BB7E5D;
}

.hero {
    height:100vh;
    display: flex;
}
.hero-left {
    width: 50%;
    flex:1;
    object-fit: cover;
}
.hero-right{
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hero-right h3{
    font-family: Great Vibes;
    text-align: center;
    font-size: 2rem;
    color: #222222;
}
.hero-right h1{
    text-transform: uppercase;
    text-align: center;
    font-family: Yeseva One;
    font-size: 4rem;
    color: #222222;
}
.hero-right button{
    font-family: PlayFair Display;
    font-size: 1rem;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    background-color: #fcb08c;
    color: #222222;
    transition: 0.2s;
}
.hero-right button:hover{
    background-color: #e1c5b7;;
}

.toggleBtn{
    display: none;
}

.quote{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 18.75rem;
    color: #222222;
}
.heading{
    text-transform: uppercase;
    font-size: 3.5rem;
    font-family: Yeseva One;
}
.quoteForHeading {
    font-family: Yeseva One;
    font-weight: 100;
}

.parallaxImg {
    flex-shrink: 1;
    height: 50vh;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat ;
}

.prlxImg-1 {
    background-image:url('Images/accessories1.webp');
}
.prlxImg-2 {
    background-image:url('Images/bg2.webp');
}
.prlxImg-3 {
    background-image:url('Images/bg3.webp');
}

.accessory {
    display: flex;
    max-width: 100%;
    flex-wrap: wrap;
}
.itemSell {
    flex: 1 1 10rem;
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:1rem;
    flex-direction: column;
    border-radius: 10px;
    transition: 0.2s;
}
.itemSell img {
    width: 85%;
    height: 100%;
    object-fit: cover;
}
.itemsText {
    flex: 2;
    color: #222222;
}
.shopMore {
    flex:2;
    font-family: PlayFair Display;
    border: 1px solid black;
    padding: 10px;
    background-color: white;
    cursor: pointer;
    font-size: 1rem;
    padding: 10px 20px;
    transition: 0.3s;
}
.shopMore:hover {
    background-color: #222222;
    color: white;
}

.contactus {
    margin-top: 50px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    scale: 1;
}
.contactus img {
    padding: 10px;
    cursor: pointer;
}

.newsletter {
    margin: 1rem;
    display: flex;
    gap:0.5rem;
    align-items: center;
    flex-direction: column;
}
#emailNewsletter {
    margin-top: 0px; 
    font-size: 15px;
    width: 300px;
    padding: 9.5px;
    padding-left: 10px;
}
.subscribe {
    font-family: PlayFair Display;
    font-size: 15px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
    border: none;
    background-color: #fcb08c;
    color: #222222;
    transition: 0.2s;
}
.subscribe:hover {
    background-color: #e1c5b7;
}

.madeby {
    margin: 1rem;
    align-items: center;
    font-size: 17px;
    text-align: center;
    height: 50px;
}